<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-engine}">
<head>
  <title th:text="#{pages.consent.title}"></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" rel="stylesheet" type="text/css" />

</head>

<body id="page-consent">
<th:block layout:fragment="page-heading">
  <a1 th:utext="#{consent.header(${clientName})}">_Title of the page</a1>
</th:block>

<th:block layout:fragment="content">
  <div class="row">
    <div class="col-12">
      <div class="consent-top">
        <p class="salutation" th:text="#{consent.salutation(${user.attributes['firstName']})}" th:if="${user.attributes['firstName']}">Dear user,</p>
        <p id="consent-intro" class="consent-intro" th:utext="#{consent.intro(${clientName})}">Please provide consent for client X</p>
      </div>

      <div class="consent-main">
        <p th:utext="#{consent.scopes(${clientName})}">Required scopes</p>
        <ul class="checkmark-list" th:if="${requestedScopeMap}">
          <li th:remove="all">Full scope</li>
          <li th:each="scope : ${requestedScopeMap}">
            <p>Access your <span style="font-weight:bold" th:utext="${scope.value}">Description</span></p>
          </li>
        </ul>
      </div>

      <form method="post" class="consent-form" action="authorization-complete.html" th:action="@{/consent}" id="consent-form">
        <div class="consent-continue">
          <input id="submit-btn" type="submit" th:value="#{consent.submit}" class="btn btn-primary" style="margin-right: 16px"/>
          <a href="./v1/logout" input id="submit-btn" type="submit" th:value="#{consent.decline}" class="btn btn-danger">Decline</a>
        </div>
      </form>
    </div>
  </div>
</th:block>
<script>
  console.log(${user})
</script>
</body>
</html>
